*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.row{
    background-color:white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px black;
}



img{
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px ;
}

#login{
    margin-bottom: 0.2cm;
}

.btn1{
    border:none;
    outline:none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;

}

.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}

.deleteBtn{
    border:none;
    outline:none;
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: bold;

}

.inspectBtn{
	border:none;
    outline:none;
    height: 50px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.deleteBtn:hover{
    background: rgb(219, 0, 0);
    border: 1px solid;
    color: white;
}

.inspectBtn:hover{
    background: rgb(0, 219, 0);
    border: 1px solid;
    color: white;
}

#register{
    background-color: rgb(34, 175, 34);
}

#register:hover{
    background:rgb(22, 159, 22);
    color: white;
}

#modalRegister{
    background-color: rgb(34, 175, 34);
}

#modalRegister:hover{
    background:rgb(22, 159, 22);
    color: white;
}

.navbar-custom{
    background-color: green;
}

h2{
    margin-top: 0.6cm;
    color: rgb(206, 0, 0);
    text-align: center;
}

h1{
    color: black;
    margin-top: 1cm;
    margin-bottom: 1cm;
    text-align: center;
}

#greetings{  
    position: absolute;
    left: 50%;
    top: 50%;
    color: black;
    transform: translateX(-50%) translateY(-50%);


}

ul{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left:0 ;
    margin-bottom: 0;
}

li{
    position: relative;
    display: block;
    padding: 10px 20px;

    margin-bottom: 10px;
    background-color: #fff;
    border:1px solid;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

/* Footer */

footer{
    width:100%;
    height:55px; 
    background: black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: auto;
}

.footer-p{
    color: white;
    padding-top: 10px;
}

#questions{
    color: rgb(202, 20, 20);
    font-weight: bold;
    font-size: 0.5cm;
    font-family: Arial, Helvetica, sans-serif;
}

td 
{
    height: 20px; 
    width: 10px;
}

#cssTable td 
{
    vertical-align: middle;
}

.row-custom {
	background-color: rgba(255, 255, 255, 0.0);
    border-radius: 0px;
    padding: 10px;
    margin: 10px;
    box-shadow: none;	
}