<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="ISO-8859-1">
<title>Administration Page</title>
<link rel="stylesheet" type="text/css" href="/QuestionnaireWeb/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="/QuestionnaireWeb/./js/jquery-3.5.1.min.js"></script>
<script src="/QuestionnaireWeb/./js/main.js"></script>
<script>
	$(function() {
		$("#navbar").load("/QuestionnaireWeb/html/navbar.html");
		console.log("executed");
	});
</script>

<title>Insert title here</title>
</head>
<body>
	
		<div th:replace="html/navbar.html :: navbar"></div>
		<div class="container">
		<div class="row row-custom">
			<h2 style="font-color: black" th:text="'Compiled Questionnaire for '+${quests[0].product.name} +
													' in date ' + 
													${#dates.format(quests[0].product.date, 'dd/MM/yyyy')}"></h2>
		</div>
		<div class="row row-custom">
			<table class="table table-hover table-dark" id="cssTable">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Username</th>
						<th scope="col">Email</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="q,iter : ${quests}"
						th:id="table_row_ + ${q.user.blocked}">
						<td th:text="${iter.index}"></td>
						<td th:text="${q.user.username}"></td>
						<td th:text="${q.user.email}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/AdministrativeTools/InspectQuestionnaire/InspectAnswers(userID =${q.user.userID}, productID =${q.product.productID})}">answers</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="row row-custom">
			<h2 style="font-color: black" th:text="'Cancelled Questionnaire '+${quests[0].product.name} +
													' in date ' + 
													${#dates.format(quests[0].product.date, 'dd/MM/yyyy')}"></h2>
		</div>
		<div class="row row-custom">
			<table class="table table-hover table-dark" id="cssTable">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Username</th>
						<th scope="col">Email</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="u,iter : ${abortedQuestUsers}"
						th:id="table_row_ + ${iter}">
						<td th:text="${iter.index}"></td>
						<td th:text="${u.username}"></td>
						<td th:text="${u.email}"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
		
		</div>
	
</body>
</html>